<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/user/base::myCommon(~{::section},${user},${title})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="car-body">

				<h1 class="text-center">Update students</h1>

				<table class="table table-hover table-sm">
					<caption>Select primary key to update</caption>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Age</th>
						<th scope="col">Fee Paid</th>
						<th scope="col">Fee Due</th>
						<th scope="col">Address</th>
					</tr>

					<tr th:each="e:${all}">
						<th scope="row" th:text="${e.id}"></th>
						<td th:text="${e.firstname}"></td>
						<td th:text="${e.lastname}"></td>
						<td th:text="${e.age}"></td>
						<td th:text="${e.feepaid}"></td>
						<td th:text="${e.feedue}"></td>
						<td th:text="${e.address}"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 mt-3">
					<form th:action="@{/user/updated}" class="bg-white p-5"
						method="post">

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">ID
							</span> <input type="text" class="form-control" id="student_id"
								name="value" required>
						</div>
						<div class="container text-center">
							<button type="submit" class="btn btn-info font-weight-bold w-25">Next</button>
						</div>

						<div th:if="${condition}"
							th:classappend="${condition}?'alert alert-success  mt-2 text-center font-weight-bold ml-5 mr-5':''"
							th:text="${msg}"></div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>