<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/user/base::myCommon(~{::section},${user},${title})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 mt-3">

					<div id="fonts" class="card bg-info text-white mb-3">
						<h3 class="text-capitalize text-center"
							style="font-family: Franklin Gothic Medium; letter-spacing: 2px">Update
							student</h3>
					</div>

					<form novalidate th:action="@{/user/afterupdate}"
						class="bg-white p-5" th:object="${constant}" method="post">

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">ID
							</span> <input type="text" class="form-control" id="student_id"
								name="id" th:value="${constant.id}">
						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">First
								Name </span> <input type="text" class="form-control" id="first_name"
								name="firstname" th:value="${constant.firstname}">

						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white  w-25">Last
								Name</span> <input type="text" class="form-control" id="last_name"
								name="lastname" th:value="${constant.lastname}">

						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">Age</span>
							<input type="number" class="form-control" id="age" name="age"
								th:value="${constant.age}">
						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">Address</span>
							<input type="text" class="form-control" id="address"
								name="address" th:value="${constant.address}">

						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">Fee
								Paid</span> <input type="number" class="form-control" id="fee_paid"
								name="feepaid" th:value="${constant.feepaid}">

						</div>

						<div class="form-group input-group mb-3">
							<span
								class="input-group-text font-weight-bold bg-dark mr-2 text-white w-25">Fee
								Due</span> <input type="number" class="form-control" id="fee_due"
								name="feedue" th:value="${constant.feedue}">

						</div>

						<div class="container text-center">
							<button type="submit" class="btn btn-info w-25 font-weight-bold">Update</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>