@charset "ISO-8859-1";

.banner {
	height: 93vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../imgs/home.jpg);
	color: white;
	background-size: cover;
}

.singupbanner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../imgs/singup.jpg);
	color: white;
	background-size: cover;
}

th, td {
	text-align: center;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

table {
	cursor: pointer;
}

.mybg {
	background-color: #e2e2e2;
}

input[type=checkbox] {
	transform: scale(1.5);
}

#mysection {
	height: 93vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../imgs/login.jpg);
	color: white;
	background-size: cover;
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
}

.sidebar a {
	font-family: Bahnschrift;
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: grey;
	display: block;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: 2px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
	margin-top: 68px;
}

.content em {
	height: 20px;
	cursor: pointer;
	margin-top: 28px;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0px;
	right: 35px;
	font-size: 30px;
	cursor: pointer;
}

#body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, .5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.login-box .user-box input:focus ~ label, .login-box .user-box input:valid 
	~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 12px;
}

.login-box form #mysubmit {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03e9f4;
	font-size: 18px;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px
}

.login-box #mysubmit:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0
		100px #03e9f4;
}